@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSans-Thin.woff2) format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSans-Light.woff2) format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSans-DemiLight.woff2) format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSans-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSans-Medium.woff2) format("woff2");
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: rgb(21, 21, 19);
  /* -webkit-font-smoothing: antialiased; */
}
