#gnb_navbar {
  width: 100%;
  height: 59px;
  background-color:transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.gnb {
  width: 100%;
  height: 59px;
  max-width: 1600px;
  height: 100%;
  padding: 0 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* gnbContet CSS */
.gnb_content {
  display: flex;
  align-items: center;
}

.gnb_content_logo {
  width: 80px;
  margin: 0 75px 0 0;
  padding: 10px 0;
  /* font-size: 28px;
  color: rgb(255, 255, 255);
  line-height: 60px;
  padding: 10px 0; */
}

.gnb_content li {
  display: flex;
  flex-direction: column;
}

.gnb_content_items {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 60px;
  padding: 0 25px;
}

.underline {
  width: calc(100% - 48px);
  height: 2px;
  margin: 0 auto;
  background-color: rgb(19, 20, 21);
  position: relative;
  bottom: 1px;
  display: none;
}

/* .gnb_content_items:visited, */


/* visited, hover, active, focus */
/* .gnb_content_items:hover {
  padding: 20px 0;
  margin: 0 25px;
  border-bottom: 2px solid rgb(19, 20, 21);
} */



/* gnbLink CSS */

.gnb_link {
  display: flex;
}

.gnb_link li a {
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 60px;
}

.gnb_link li:nth-child(1) a {
  margin: 0 50px 0 0;
}

.gnb_link_icon {
  width: 10px;
  height: 10px;
  margin: 0 10px 0 0;
}

/* sub menu */
.gnb_sub {
  width: 100%;
  max-height: 0px;
}

.gnb_sub_wrap {
  width: 100%;
  display:none;
}

.gnb_sub_div_1 {
  width: 100%;
  height: 140px;
  background-color: rgb(248, 248, 248);
  position:absolute;
  top:59px;
  left: 0;
}

.gnb_sub_div_ul_1 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
}

.gnb_sub_div_ul_1 li {
  padding: 25px 0;
}

.gnb_sub_div_ul_1 li:nth-child(1) img {
  margin: 0 0 0 170px;
}

.gnb_sub_div_ul_1 img {
  width: 100px;
}

.gnb_sub_div_2 {
  width: 100%;
  height: 60px;
  background-color: rgb(248, 248, 248);
  position:absolute;
  top:59px;
  left: 0;
}

.gnb_sub_div_ul_2 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
}

.gnb_sub_div_ul_2 li a {
  display: block;
  font-size: 14px;
  color: #666;
  line-height: 60px;
  letter-spacing: normal;
  padding: 0 16px;
}

.gnb_sub_div_ul_2 li:nth-child(1) a {
  margin: 0 0 0 180px;
} 

/* Mobile gnb */
.gnb_m_wrap {
  display: none;
}


/* max-width 1440px (Tablet)*/
@media screen and (max-width: 1440px) {
  .gnb {
    max-width: 1280px;
    padding: 0 30px;
  }

  .gnb_content_logo {
    margin: 0;

  }
}

/* max-width 767px (Mobile)*/
@media screen and (max-width: 767px) {
  
  #gnb_navbar {
    display: none;
  }
  
  .gnb_m_wrap {
    display: block;
  }

  .gnb_m {
    width: 100%;
    background-color: transparent;
    height: 56px;
    position: fixed;
    padding: 0 15px;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10000;
    transition: height 0.6s, background-color 0.6s;
  }

  .nav-active{
    background-color: white;
    height: 100%;
  }
  
  .gnb_m_nav {
    width: 100%;
    max-width: 700px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .gnb_m_logo {
    width: 80px;
    margin: auto 0;
  }

  .gnb_m_burger{
    cursor: pointer;
    text-align: center;
    transition: all 0.4s ease;
  }
  
  /* .gnb_line1,
  .gnb_line2,
  .gnb_line3 {
    width: 24px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 8px;
    transition: all 0.8s ease;
  }  */

  .gnb_m_burger div {
    width: 24px;
    height: 2px;
    background-color: rgb(252,252,252);
    margin: 8px;
    transition: all 0.4s ease;
  } 

  .toggle .gnb_line1 {
    transform: rotate(-45deg) translate(-6px, 8px);
  }
  
  .toggle .gnb_line2 {
    opacity: 0;
  }
  
  .toggle .gnb_line3 {
    transform: rotate(45deg) translate(-6px, -8px);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(0px);
    }
  
    to {
      opacity: 1;
      transform: translateX(10px);
    }
  }
  
  
  .gnb_m_hidden {
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .gnb_m_items {
    margin: 40px 0 0 0;
    width: 100%;
    height: 250px;
    transition: all 0.8s ease-in;
  }
  
  .gnb_m_items li {
    height: 60.8px;
  }

  .gnb_m_items a {
    text-align: left;
    text-decoration: none;
    letter-spacing: -0.5px;
    line-height: 45px;
    font-weight: 700;
    font-size: 30px;
    padding: 0 0 16px 0; 

  }

  .gnb_m_items li:nth-child(1) a {
    color: rgb(3, 4, 5);  
  }
  
  .gnb_m_items li:nth-child(2) a,
  .gnb_m_items li:nth-child(3) a,
  .gnb_m_items li:nth-child(4) a {
    color: rgb(204, 204, 204);
  }

  
  
  .gnb_m_info {
    width: 100%;
    height: 236px;
    padding: 48px 0 0;
    margin: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

  .gnb_m_share {
      display: flex;
      align-items: center;
      margin: 20px 0 0;
  }

  .gnb_m_share strong {
      display: block;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      font-family: 'Mark Pro', 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
      color: rgb(102, 102, 102);
  }

  .gnb_m_share li:nth-child(2) a img,
  .gnb_m_share li:nth-child(3) a img,
  .gnb_m_share li:nth-child(4) a img {
    margin: 0 0 0 24px;
  }

  .gnb_m_share li:nth-of-type(1) a img,
  .gnb_m_share li:nth-of-type(3) a img,
  .gnb_m_share li:nth-of-type(4) a img {
      width: 25px;
      height: 25px;
  }

  .gnb_m_share li:nth-of-type(2) a img {
      width: 12px;
  }

    /* copyright m */

  .gnb_m_copyright {
    width: 100%;
    height: 40px;
    margin: 20px 0;
  }

  .gnb_m_copyright small{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: rgb(153,153,153);
    font-family: 'Mark Pro', 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
  }

}